@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&family=Source+Code+Pro:wght@400;600;700&family=Source+Sans+Pro:wght@400;600;700&display=swap');

html, body, #root, .app, .content {
  height: 100%;
  width: 100%;
  overflow: hidden;
  font-family: 'nunito';
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app {
  display: flex;
  position: relative;
}
::-webkit-scrollbar {
  display: none;
}
.grid-cont {
  mask: linear-gradient(to bottom, transparent 0%, black 48px, black calc(100% - 48px), transparent 100%);
}
/* Hide scrollbar for IE, Edge add Firefox */
.scrollbar-hidden {
  -ms-overflow-style: none;
  scrollbar-width: none; /* Firefox */
}
/* ::-webkit-scrollbar{
  width: 10px;
}

::-webkit-scrollbar-track{
  background-color: #e0e0e0;
}

::-webkit-scrollbar-thumb{
  background-color: #888;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
} */

